.bg{
	width: 7.50rem;
	height: 13.34rem;
	padding: 0.24rem;
	background-image: url(../img/102.png);
	background-repeat: no-repeat;
	background-size: 7.50rem 13.34rem;
}
.top{
	height:2rem;
	width: 2rem;
	background-image: url(../img/112.png); 
	background-repeat: no-repeat;
	background-size:2rem 2rem;
	margin: 2.2rem auto 0;
}
h6{
	font-size: 0.4rem;
	color: #f9a2d8;
	text-align: center;
	display: block;
	margin-bottom: 0.1rem;
	margin-top: 0.1rem;
}
header{
	width: 1.80rem;
	height: 0.75rem;
	background:#f9a2d8;
	border-radius: 0.15rem;
	margin-left: 5.22rem;
}
header h1{
	font-size: 0.32rem;
	color: #fff;
	text-align: center;
	line-height: 0.75rem;
	height: 0.75rem;
}
main{
	width: 100%;
	height: 4rem;
	/*background:red;*/
	/*margin-top: 2rem;*/
	padding: 0.24rem;
}
main ul{
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
}
main ul li{
	width: 100%;
	height: 1.6rem;
	background-color: #fff;
	/*border:0.01rem solid #333;*/
	position: relative;
	margin-left: 0.48rem;
}
main ul li h1{
	font-size: 0.34rem;
	color: #f9a2d8;
}
main ul li .middle{
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: row;
	margin-top: 0.1rem;
}
main ul li .middle .left{
	width: 0.5rem;
	height: 0.5rem;
	background-image: url(../img/104.png);
	background-size: 0.4rem 0.4rem;
	background-repeat: no-repeat;
}
main ul li .middle .right{
	width: 0.5rem;
	height: 0.5rem;
	background-image: url(../img/105.png);
	background-size: 0.4rem 0.4rem;
	background-repeat: no-repeat;
}
main ul li .pic{
	width: 6rem;
	height: 0.12rem;
	background-image: url(../img/103.png);
	background-size: 6rem 0.12rem;
	background-repeat: no-repeat;
	position: absolute;
	bottom: 0.2rem;
	left: 0.01rem;
}
main ul li .min{
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: row;
	margin-top: 0.1rem;
}
main ul li .min .left{
	width: 0.5rem;
	height: 0.5rem;
	background-image: url(../img/106.png);
	background-size: 0.4rem 0.4rem;
	background-repeat: no-repeat;
}
main ul li .min .right{
	width: 2.1rem;
	height: 0.45rem;
	background:#f9a2d8;
	border-radius: 0.15rem;
}
main ul li .min .right h1{
	font-size: 0.34rem;
	color: #fff;
	text-align: center;
	line-height: 0.45rem;
	height: 0.45rem;

}
main ul li .pass{
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: row;
	margin-top: 0.1rem;
}
main ul li .pass .left{
	width: 0.5rem;
	height: 0.5rem;
	background-image: url(../img/107.png);
	background-size: 0.4rem 0.4rem;
	background-repeat: no-repeat;
}
main ul li .pass .right{
	width: 0.5rem;
	height: 0.5rem;
	background-image: url(../img/105.png);
	background-size: 0.4rem 0.4rem;
	background-repeat: no-repeat;
}
main ul li .pic{
	width: 6rem;
	height: 0.12rem;
	background-image: url(../img/103.png);
	background-size: 6rem 0.12rem;
	background-repeat: no-repeat;
	position: absolute;
	bottom: 0.2rem;
	left: 0.01rem;
}
footer{
	width: 2.5rem;
	height: 0.8rem;
	background:#f9a2d8;
	border-radius: 0.15rem;
	margin:-0.5rem auto;
}
footer h1{
	font-size: 0.4rem;
	color: #fff;
	text-align: center;
	line-height:0.8rem;
	height: 0.8rem; 
}
.bottom{
	width: 6rem;
	height: 1.8rem;
	margin:0.8rem auto;
	/*background:red;*/
}
.bottom ul{
	display: flex;
	flex-direction: row;
	width: 6rem;
	height: 1rem;
	justify-content: space-between;
	margin-top: -0.1rem;
}
.bottom ul li{
	width: 1rem;
	height: 1rem;
	/*background: green;*/
}
.bottom ul li img{
	width: 1rem;
	height: 1rem;
}
.bottom .picc{
	width: 100%;
	height:1rem;
}